%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [{lfe, "1.2.0"}]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{profiles, [
    {test_erl, [
        {first_files, [ "test/shared/spell1_testing.erl"]},
        {extra_src_dirs, ["test/shared", "test/erl", "test/erl/generated"]},
        {post_hooks, [
            {compile, "priv/scripts/spell1_helper erl"}
        ]}
    ]},
    {test_lfe, [
        {first_files, ["test/shared/spell1_testing.erl"]},
        {extra_src_dirs, ["test/shared", "test/lfe", "test/lfe/generated"]},
        {post_hooks, [
            {compile, "priv/scripts/spell1_helper lfe"}
        ]}
    ]}
]}.
