%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [{lfe, "1.2.0"}]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{profiles, [
    {helper, [
      
    ]},
    {test_erl, [
        %%{escript_name, spell1_erl_helper},
        %%{escript_emu_args, "%%! -escript main spell1_erl_helper\n"},
        {first_files, [
            %%"test/shared/spell1_helper.erl",
            "test/shared/spell1_testing.erl"
            %%"test/erl/spell1_erl_helper.erl"
            ]},
        {extra_src_dirs, ["test/shared", "test/erl", "test/erl/generated"]},
        {post_hooks, [
            {compile, "priv/scripts/spell1_helper erl"}
        ]}
    ]},
    {test_lfe, [
        {first_files, ["test/shared/spell1_testing.erl"]},
        {extra_src_dirs, ["test/shared", "test/lfe", "test/lfe/generated"]}
    ]}
]}.

%{pre_hooks, [
%    {eunit, "erlc -I include/spell1inc.hrl -o test",
%            ""}
%]}.
